<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TankWar2.8.5.2/src/com/lkzf/www/TankClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lkzf.www.TankClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TankWar2.8.5.2"/>
</launchConfiguration>
